<main>

  <h5>Plateforme collaborative pour esprits créatifs. 📸</h5>
    <br>
      <h6>Présentation</h6>

    <br>

      <img src="../../assets/visuels/maquette/accueil.png" class="responsive-img">

    <br>

<app-vue *ngFor="let vue of vues" [vue]="vue"></app-vue>

  <p style="font-size: 0.8rem; color: crimson;">[--- Les fonctionnalités mères de l'application (menu de droite) sont en cours de maquettage. ⌨ ---]</p>

    <br>

  <p>De <b>nouvelles fonctionnalités</b> seront bien évidemment déployées au fur et à mesure de <b>votre utilisation de l'application.</b></p>

    <br>

  <a href="maquette-interactive">
    <div class="btn-maquette">
      <h6>Testez la maquette interactive</h6>
    </div>
  </a>

    <br>

  <img src="../../assets/visuels/pictos/contact.png" class="picto-src">

  <div>
    <p style="color: var(--secondary); font-weight: 650;">Alors, qu'en pensez-vous ?</p>
      <p>Si vous souhaitez nous <b>donner votre avis</b>, écrivez-nous <b><a href="contact">un message ici ! 📧</a></b></p>
        <p style="font-size: 0.8rem;">Votre avis peut nous apporter beaucoup sur la conception du design de l'application. Nous souhaitons que Pic&You soit <b style="color: var(--secondary);">votre plateforme</b> de collaborations, <b style="color: var(--secondary);">à votre image</b>.</p>
      <p>Si vous souhaitez <b>soutenir la mise en production</b> de l'application, <b><a href="soutien">rendez-vous sur cette page 🧡</a></b></p>
  </div>

</main>
