.maquette-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.iframe {
margin-top: 0.1rem;
}

h5 {
  text-align: center;
}

h6 {
  color: var(--secondary);
}

.intro-maquette {
  text-align: center;
}

.espace-maquette {
  margin: 2rem;
}
