<div class="espace-maquette">

  <h5>Bienvenue sur la maquette interactive !</h5>
    <div class="intro-maquette">
      <p>Développée sur Adobe XD.</p>
        <img src="../../assets/visuels/adobe-xd.png" height="40rem" width="40rem" style="margin-bottom: 1rem;" title="logo adobe XD" alt="logo Adobe XD PNG">
      <p>La maquette interactive vous permet de <b>naviguer sur l'interface imaginée</b>, grâce à des pages pré-conçues. Lorsque vous cliquez dans n'importe quel espace vide, <b>les boutons disponibles s'affichent en surbrillance.</b></p>
    </div>

  <br>

  <h6>Version Desktop</h6>
    <div class="maquette-container">
      <iframe class="iframe" width="800" height="450" src="https://xd.adobe.com/embed/647146ae-6a17-4104-6f79-f7fb0097e8d1-1240/?fullscreen" frameborder="0" allowfullscreen></iframe>
    </div>

  <br>

  <h6>Version mobile</h6>
    <p>Bientôt disponible !</p>

  <br>

  <a href="contact">
    <div class="espace-avis">
      <h6 style="text-align: center;">Laissez-nous votre avis ! 💌</h6><br>
        <p>Votre avis compte pour nous, car c'est grâce à lui que nous pourrons être <b>au plus proche de vos attentes</b>.</p>
          <p>Nous vous invitons donc à nous envoyer un message, pour nous faire part de vos ressentis, de <b>ce que vous avez pensé de votre parcours sur la maquette</b>, ou encore pour nous envoyer un mot gentil ! 😊</p>
            <p style="text-align: right; font-weight: bold;">👉🏻 Je laisse mon avis !</p>
    </div>
  </a>

</div>
