<div class="jumbotron text-center bg-primary">
  <a href="https://www.instagram.com/picandyou_creative/" target="_blank">
    <img [src]="pictoInsta" width="16rem" title="Suivez-nous sur Instagram" alt="Logo Instagram blanc">
  </a>

  <br><br>

  <div class="copyright">
    <p>Copyright
      &copy;
      <span [innerText]="yearNow"></span>&nbsp;<span [innerText]="appTitle"></span>
      •
      <a class="link" title="Mentions légales" [routerLink]="['mentions-legales']" [routerLinkActive]="['active']">Mentions légales</a>
    </p>
  </div>
