.link {
  color: #ffffff;
}

.link:hover {
  color: var(--third);
  text-decoration: none;
}

.jumbotron {
  font-family: 'Open Sans';
  font-size: 0.9rem;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
