.contact-form {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.form-group {
  text-align: center;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#form-btn {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

h5 {
  color: var(--secondary);
}
