.contact-form {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.form-group {
  text-align: center;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  font-size: 0.9rem;
}

#form-btn {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

h5 {
  color: var(--secondary);
}

.src {
  background-image: url("../../assets/visuels/feedback.jpg");
  width: 30rem;
  height: 15rem;
  background-size: cover;
  background-position: center;
}

.container-src {
  display: flex;
  align-items: center;
  justify-content: center;
}
