.contact-form {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.form-group {
  text-align: center;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#form-btn {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  background-color: #7f4d72;
  border-color: #7f4d72;
}
