#collapsibleNavbar {
  align-items: center;
  justify-content: center;
}

.fixed {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  border-bottom: #dddddd solid 0.06rem;
}
