.container-worker {
  margin: 1rem;
}

.container-photo {
  position: relative;
  float: left;
  padding-right: 1rem;
}

.photo {
  width: 10rem;
  height: 8rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--primary);
  background-size: cover;
  background-position: top center;
}

.name {
  font-size: 1.2rem;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--primary);
}

.job {
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  color: var(--secondary);
}

.describe {
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  padding-top: 0.5rem;
  white-space: pre-line;
  text-align: justify;
}

