<ng-container *ngIf="worker.display">

  <div class="container-worker">
    <div class="container-photo">
      <div class="photo" [ngStyle]="{'background-image': 'url('+ worker.photo +')'}"></div>
    </div>
    <div>
      <span class="name">{{ worker.name }}</span><br>
      <span class="job">{{ worker.job }}</span><br>
      <div class="describe">
        <span class="citation">"</span>&nbsp;
          <span [innerHTML]="worker.describe"></span>&nbsp;
        <span class="citation">"</span>
      </div>
    </div>
  </div>

</ng-container>
