h5 {
  color: var(--secondary);
}

h6 {
  color: var(--secondary);
  font-size: 1.1rem;
}

div.btn-soutien {
  border: 0.1rem dashed var(--primary);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary);
}

div.btn-soutien:hover {
  background: rgba(127, 77, 114, 0.2);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.src {
  background-image: url("../../assets/visuels/coffee.jpg");
  width: 30rem;
  height: 15rem;
  background-size: cover;
  background-position: center;
}

.container-src {
  display: flex;
  align-items: center;
  justify-content: center;
}
