<div class="espace-soutien">

  <h5>Offrez-nous un café ! ☕</h5>

    <br>

  <a href="https://ko-fi.com/picandyou" target="_blank">
    <div class="container-src">
      <div class="src"></div>
    </div>
  </a>
    <div style="font-size: 0.5rem;"><p>Image par <a href="https://pixabay.com/fr/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2179028">Pexels</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2179028">Pixabay</a></p></div>

    <br>

      <p>Pour pouvoir voir le jour, <strong>de nombreuses entreprises pratiquent le crowdfunding</strong>.
        Cela se passe sous forme de campagne, sur un temps donné, avec un montant prédéfini à atteindre.
        L'entreprise doit alors communiquer autour d'elle un maximum durant la campagne, afin de soulever assez de fonds pour <strong>valider la campagne et récupérer les dons</strong>.
        Si le montant final n'est pas égal ou supérieur au montant prédéfini en début de campagne, celle-ci est annulée et tous les investisseurs récupèrent leurs dons.
        L'entreprise n'a donc plus qu'à tout recommencer. <span style="font-style: italic;">Une sacré prise de tête, vous ne trouvez pas ?</span> 🤯</p>

    <br>

  <h5 style="color: var(--primary);">« Coffee is better »</h5>

      <p><strong>Chez Pic&You, nous préférons fonctionner sous forme de "coffee"</strong>, que vous pouvez nous offrir toute l'année pour nous soutenir ! 💜</p>

    <br>

  <a href="https://ko-fi.com/picandyou" target="_blank"><h6>1 x ☕ = 5 €</h6></a>

    <br>

      <p>Chaque coffee que vous nous offrez nous permettra de <strong>déployer la plateforme Pic&You</strong>.
        En effet, la mise en production d'une plateforme communautaire a un coût : domaine, hébergement, sécurité, maintenance, évolutions, etc.</p>

      <p>Votre soutien nous permet aussi de <strong>communiquer sur la plateforme</strong>.
        Car si l'on veut faire de Pic&You une communauté de créatifs, il faut que les créatifs aient vent de Pic&You !
        Et comme on le sait, communiquer a aussi un certain coût.</p>

      <br>

  <a href="https://ko-fi.com/picandyou" target="_blank">
    <div class="btn-soutien">
      <h6>💜 Je souhaite soutenir Pic&You ! 💜</h6>
        <br>
          <p>Cliquez dans cet espace pour nous offrir un café ☕</p>
            <p>Chaque café compte beaucoup pour nous 🤗</p>
              <p>Merci à tous 🙏🏻</p>
    </div>
  </a>

</div>
