@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

main {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 0.9rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

/* mobile screens */
@media screen and (max-width: 767px)
{
  main {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

/* tablet screens */

@media screen and (min-width: 768px) and (max-width: 959px)
{
  main {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
}

/* tablet landscape & desktop screens */
@media screen and (min-width: 960px) and (max-width: 1199px)
{
  main {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 4rem;
  }
}

/* large screens */
@media screen and (min-width: 1200px)
{
  main {
    max-width: 62rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
