h2 {
  text-align: center;
  color: var(--carbon-primary);
  -webkit-font-smoothing: antialiased;
  font-size: 1.8rem;
}

h5 {
  color: var(--primary);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.src {
  background-image: url("../../assets/visuels/visuel-home-1.JPG");
  width: 30rem;
  height: 15rem;
  background-size: cover;
  background-position: top center;
}

.container-src {
  display: flex;
  align-items: center;
  justify-content: center;
}
